<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:href="@{/styles/styles.css}" rel="stylesheet">
	<meta charset="UTF-8">
	<title>PayMyBuddy Home</title>
</head>

<body>
	<div id="boite">

		<h2 class="h2">Home</h2>
		<br />
		<br />
		<erreur th:unless="${message == ''}">
			[[${message}]]
		</erreur>
		<p th:unless="${message == ''}"><br /><br /></p>

		<a id="pages" th:href="@{/connexion}">Connection</a><br /><br />
		<a id="pages" th:href="@{/inscription}">Inscription</a><br /><br />

	</div>
</body>

</html>