<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:href="@{/styles/styles.css}" rel="stylesheet">
	<meta charset="UTF-8">
	<title>PayMyBuddy Connecté</title>
</head>

<body>
	<header>
		<div id="entete">
			<div id="logo">Pay My Buddy</div>
			<div id="navbar">
				<div><a th:href="@{/}">Home</a></div>
				<div><a th:href="@{/transactions}">Transferts</a></div>
				<div><a th:href="@{/profil}">Profile</a></div>
				<div><a th:href="@{/connexions}">Contacts</a></div>
				<div><a th:href="@{/deconnexion}">Logoff</a></div>
			</div>
		</div>
	</header>
	<div id="boite">
		<h2 class="h2">Connecté</h2>
		</br>
		</br>
		<h3 id="logo">Bienvenue [[${nom}]]</h3>
		</br>
		</br>

		<a id="pages" th:href="@{/connexions}">liste des connexions</a></br></br></br>
		<a id="pages" th:href="@{/utilisateurs}">liste des utilisateurs</a></br></br></br>
		<a id="pages" th:href="@{/transactions}">liste des transactions</a></br></br></br>
	</div>

</body>

</html>