<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:href="@{/styles/styles.css}" rel="stylesheet">
	<meta charset="UTF-8">
	<title>PayMyBuddy Error</title>
</head>

<body>
	<header>
		<div id="entete">
			<div id="logo">Pay My Buddy</div>
			<div id="navbar">
				<div><a th:href="@{/}">Home</a></div>
				<div><a th:href="@{/transactions}">Transfer</a></div>
				<div><a th:href="@{/profil}">Profile</a></div>
				<div><a th:href="@{/connexions}">Contacts</a></div>
				<div><a th:href="@{/deconnexion}">Logoff</a></div>
			</div>
		</div>
	</header>
	</br>

	<div id="boite">
		<h2 class="h2">Error</h2>
		Requested page does not exist !
	</div>
</body>

</html>