<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/styles/styles.css}" rel="stylesheet">
	<title>PayMyBuddy Inscription</title>
</head>

<body id="boite">

	<a th:href="@{/}">Home</a>
	</br>
	
	<div align="center">
		<h1>Inscription</h1>
		<form action="#" th:action="@{/inscription}" method="post" th:object="${utilisateur}">
		
			<erreur th:unless="${message == ''}"> [[${message}]] </erreur>		
			<br />
			<br />
			
			
			<label>Name:</label>
			<input type="text" required th:field="*{nom}" /><br />

			<label>Email:</label>
			<input type="email" required th:field="*{email}" /><br />

			<label>Password:</label>
			<input type="password" required th:field="*{motDePasse}" /><br />
			<br />
			<br />
			<br />

			<button id="bouton" type="submit">Register</button>
		</form>
	</div>

</body>

</html>