<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:href="@{/styles/styles.css}" rel="stylesheet">
	<meta charset="UTF-8">
	<title>PayMyBuddy Transactions</title>
</head>


<body>
	<header>
		<div id="entete">
			<div id="logo">Pay My Buddy</div>
			<div id="navbar">
				<div><a th:href="@{/}">Home</a></div>
				<div><a th:href="@{/transactions}">Transferts</a></div>
				<div><a th:href="@{/profil}">Profile</a></div>
				<div><a th:href="@{/connexions}">Contacts</a></div>
				<div><a th:href="@{/deconnexion}">Logoff</a></div>
			</div>
		</div>
	</header>


	<h2 class="h2">Liste des transactions</h2>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Utilisateur</th>
				<th>Contact</th>
				<th>Montant</th>
				<th>Description</th>
				<th>Date</th>
			</tr>


		</thead>
		<tbody>

			<tr th:if="${transactions.empty}">
				<td colspan="6">Aucune transaction pour cet utilisateur en base de données</td>
			</tr>
			<tr th:each="transaction: ${transactions}">

				<td><span th:text="${transaction.idTransaction}"> Id</span></td>
				<td><span th:text="${transaction.utilisateurTransaction.email}"> Utilisateur</span></td>
				<td><span th:text="${transaction.utilisateurContact.email}"> Contact</span></td>
				<td><span th:text="${transaction.montant}"> Montant</span></td>
				<td><span th:text="${transaction.description}"> Description</span></td>
				<td><span th:text="${transaction.date}"> Date</span></td>

			</tr>
		</tbody>
	</table>


	<footer>
		<a id="pages" th:href="@{/transactions/1}"> << </a>
		<a id="pages" th:if="${pagenumber > 2}" th:href="@{'/transactions/' + ${pagenumber - 2}}">[[${pagenumber - 2}]]</a>
		<a id="pages" th:if="${pagenumber > 1}" th:href="@{'/transactions/' + ${pagenumber - 1}}">[[${pagenumber - 1}]]</a>
		<a id="pages" th:if="${pagenumber > 0}" th:href="@{'/transactions/' + ${pagenumber}}">[[${pagenumber}]]</a>
		<a id="pages" th:if="${pagenumber < totalpages}" th:href="@{'/transactions/' + ${pagenumber +1}}">[[${pagenumber +1}]]</a>
		<a id="pages" th:if="${pagenumber < totalpages - 1}" th:href="@{'/transactions/' + ${pagenumber +2}}">[[${pagenumber
			+2}]]</a>
		<a id="pages" th:href="@{'/transactions/' + ${totalpages}}"> >> </a>
	</footer>

	<P>page : [[${pagenumber}]] sur nombre de pages : [[${totalpages}]]</P>

</body>

</html>