<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:href="@{/styles/connexions.css}" rel="stylesheet">
	<meta charset="UTF-8">
	<title>PayMyBuddy Transactions</title>
</head>

<body>

	<a href="utilisateurs">liste des utilisateurs</a>
	<a href="connexions">liste des connexions</a>
	<h2 class="h2">Liste des transactions</h2>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Utilisateur</th>
				<th>Contact</th>
				<th>Montant</th>
				<th>Description</th>
				<th>Date</th>
			</tr>


		</thead>
		<tbody>

			<tr th:if="${transactions.empty}">
				<td colspan="6">Aucune transaction pour cet utilisateur en base de données</td>
			</tr>
			<tr th:each="transaction: ${transactions}">

				<td><span th:text="${transaction.idTransaction}"> Id</span></td>
				<td><span th:text="${transaction.utilisateurTransaction.email}"> Utilisateur</span></td>
				<td><span th:text="${transaction.utilisateurContact.email}"> Contact</span></td>
				<td><span th:text="${transaction.montant}"> Montant</span></td>
				<td><span th:text="${transaction.description}"> Description</span></td>
				<td><span th:text="${transaction.date}"> Date</span></td>

			</tr>
		</tbody>
	</table>

	page : [[${pagenumber}]] sur nombre de pages : [[${totalpages}]]
</body>

</html>