<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:href="@{/styles/styles.css}" rel="stylesheet">
	<meta charset="UTF-8">
	<title>PayMyBuddy Utilisateurs</title>
</head>

<body>
	<header>
		<div id="entete">
			<div id="logo">Pay My Buddy</div>
			<div id="navbar">
				<div><a th:href="@{/}">Home</a></div>
				<div><a th:href="@{/transactions}">Transferts</a></div>
				<div><a th:href="@{/profil}">Profile</a></div>
				<div><a th:href="@{/connexions}">Contacts</a></div>
				<div><a th:href="@{/deconnexion}">Logoff</a></div>
			</div>
		</div>
	</header>
	<a th:href="@{/connexions}">connexions</a>
	<h2 class="h2">Liste des utilisateurs</h2>
	<table>
		<thead>
			<tr>
				<th>Email</th>
				<th>Nom</th>
				<th>Solde</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${utilisateurs.empty}">
				<td colspan="3">Aucun utilisateur en base de données</td>
			</tr>
			<tr th:each="utilisateur: ${utilisateurs}">
				<td><span th:text="${utilisateur.email}"> Email </span></td>
				<td><span th:text="${utilisateur.nom}"> Nom </span></td>
				<td><span th:text="${utilisateur.solde}"> Solde </span></td>
			</tr>
		</tbody>
	</table>
</body>

</html>